<div class="containerInfoBasica container">
    <h5>Informações Gerais: </h5>
    <div class="row text-center">
        <div class="col border">Marca</div>
        <div class="col border">Aviação</div>
    </div>
    <div class="row text-center">
        <div class="col border">Medida Principal</div>
        <div class="col border">kg</div>
    </div>
    <div class="row text-center">
        <div class="col border">Volume</div>
        <div class="col border">200g</div>
    </div>
    <div class="row text-center">
        <div class="col border">Pelo Líquido</div>
        <div class="col border">200</div>
    </div>
    <div class="row text-center">
        <div class="col border text-center">Ingredientes</div>
        <div class="col border">Creme de leite, cloreto de sódio (sal)<br> e corante natural de urucum INS 160b.</div>
    </div>
</div>