<div class="corpoSite">
    <div class="carrossel" style="width: 100%;">
        <app-carrossel></app-carrossel>
    </div>
    <div class="carrosselContainer" style="padding: 5rem;">
        <div class="carrosselMercados" style="margin-bottom: 50px;">
            <h2>Mercados Populares</h2>
            <app-carrossel-mercados></app-carrossel-mercados>
        </div>
        <div class="carrosselProdutos">
            <h2 style="margin-bottom: 20px;">Produtos Populares</h2>
            <app-carrossel-produtos></app-carrossel-produtos>
        </div>
    </div>
</div>