.imgCard {
    border-radius: 50%;    
    padding: 2rem;
}
.card-body{    
    margin-bottom: 10px;
    height: max-content;
    text-align: center;
}

.card{    
    background-color: #f39b68;
    width: 100%;
}


@media (min-width: 600px) {
  .card {
    width: 12rem;
  }
}

