.paginationComponent{
  display: flex;
  justify-content: flex-end;
}
.produtosContainer{
  padding-top: 5rem;
}
.colunasProdutos{
  margin-bottom: 4rem;
}
.sidebarContainer{
  padding-right: 10rem;
}
