.paginaContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
}

.produtosContainer {
  flex: 1;
  margin-left: 250px;
  padding-top: 5rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {

  .produtosContainer {
    margin-left: 0;
    width: 100%;
  }

}

.linhasProdutos {
  display: flex;
  flex-wrap: wrap;
}

.colunasProdutos {
  margin-bottom: 4rem;
  box-sizing: border-box;
}

.paginationComponent {
  display: flex;
  justify-content: flex-end;
}
