<div class="card" (click)="irParaItemPage(card.id)">
    <img src="{{card.imagem}}" class="cardImg card-img-top" alt="imgBala">
    <div class="card-body">
        <h5 class="card-title">{{(card.nomeProduto.length > 30) ? (card.nomeProduto | slice:0:30)+'...' : card.nomeProduto}}</h5>
        <p class="card-text">
            Aproveite Agora!! <br>
            <i>De <s>$9,99 </s></i><b></b>Por R${{card.precoProduto}}<br>
            Só no {{card.mercado.nome}}
        </p>
    </div>
</div>
<router-outlet></router-outlet>
