<div class="card" (click)="irParaItemPage()">
    <img [src]="images[1]" class="card-img-top" alt="imgBala">
    <div class="card-body">
        <h5 class="card-title">{{(card.nomeItem.length > 25) ? (card.nomeItem | slice:0:25)+'...' : card.nomeItem}}</h5>
        <p class="card-text">
            Aproveite Agora!! <br>            
            <i>De <s>$9,99 </s></i><b></b>Por R${{card.precoItem}}<br>
            Só no {{card.nomeMercado.nomeMercado}}
        </p>
    </div>
</div>
<router-outlet></router-outlet>