.containerProdutos{
  border-radius: 40px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.cardProdutosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

