.headerDefault {
    background-color: #f39b68;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 15px 5px;
    
}

.containerBusca {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    width: 30%;
}

.barraBusca {
    border-radius: 5px;
    font-size: 14px;
    margin-right: 0;
    border: 1px solid #3C403D;
    padding-bottom: 10px;
}

.botaoDropdown {
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 0;
    border: 1px solid #3C403D;
}

.botaoBusca {
    background-color: #3C403D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 0;
    border: 1px solid #3C403D;
}

.containerUsuario {
    margin-left: auto;
    display: flex;
}

.footerDefault {
    background-color: #f39b68;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.custom-dropdown-toggle::after {
    display: none !important;
}

.itensDropdownMercados:hover,
.itensDropdownCategorias:hover{
    cursor: pointer;
}
