<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<nav class="headerDefault navbar navbar-expand-lg ">
  <div class="logoItem">
    <button class="btn" routerLink=""><h2 class="navbar-brand"><b>Buscador de <br>Preços</b></h2></button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="containerBusca">
    <div class="itensBuscaContainer input-group">
      <input type="text" class="barraBusca form-control">
      <button type="button" class="botaoBusca btn">
        <span class="material-symbols-outlined d-flex align-items-center justify-content-center" style="color: white;">
          search
        </span>
      </button>
    </div>
    <div class="dropdownCategoria btn-group">
      <div class="dropdown" (mouseenter)="openDropdown(1)" (mouseleave)="closeDropdown(1)">
        <button class="btn btn-sm dropdown-toggle custom-dropdown-toggle" type="button" id="dropdownMenuButton"
          aria-haspopup="true" aria-expanded="false" (click)="irParaProdutos()">
          <div class="d-flex align-items-center">
            <div>
              <span class="material-symbols-outlined">sort</span>
            </div>
            <div class="ms-2">
              Produtos
            </div>
          </div>
        </button>
        <div class="dropdownMenuCategorias dropdown-menu" aria-labelledby="dropdownMenuButton" [ngClass]="{ 'show': isDropdownOpen === 1 }">
          <ul *ngFor="let categoria of categorias; let i = index" style="list-style: none;">
            <li (click)="alterarFiltro([categoria])" class="itensDropdownCategorias"><a>{{categoria.categoriaDescricao}}</a></li>
          </ul>
        </div>
      </div>
      <div class="dropdown" (mouseenter)="openDropdown(2)" (mouseleave)="closeDropdown(2)">
        <button class="btn btn-sm dropdown-toggle custom-dropdown-toggle" type="button" id="dropdownMenuButton2"
          aria-haspopup="true" aria-expanded="false">
          <div class="d-flex align-items-center">
            <div>
              <span class="material-symbols-outlined">shopping_cart</span>
            </div>
            <div class="ms-2">
              Mercados
            </div>
          </div>
        </button>
        <div class="dropdownMercados dropdown-menu" aria-labelledby="dropdownMenuButton2"
          [ngClass]="{ 'show': isDropdownOpen === 2 }">
          <ul *ngFor="let mercado of mercados" style="list-style: none;">
            <li class="itensDropdownMercados" (click)="irParaMercado()"><a>{{mercado.nomeMercado}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="containerUsuario">
    <div>
      <button class="btn btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="display: flex;">
        <div>
          <span class="material-symbols-outlined">person</span>
        </div>
        <span style="padding: 0px 5px 0px 5px;">Login/Registrar</span>
      </button>
    </div>
    <div>
      <button type="button" class="botaoFavoritos btn">
        <span class="material-symbols-outlined">
          favorite
        </span>
      </button>
    </div>
  </div>
</nav>