<div class="card">
  <p-megaMenu [model]="itens" [style]="{ display: 'flex', 'align-items': 'center', 'justify-content': 'center' }" styleClass="p-3 surface-0">
    <ng-template pTemplate="item" let-item class="menusItens">
      <a *ngIf="item.root" pRipple class="flex align-items-center cursor-pointer px-3 py-2 overflow-hidden relative font-semibold text-lg uppercase" style="border-radius: 2rem">
        <i [ngClass]="item.icon"></i>
        <span class="ml-2">{{ item.label }}</span>
      </a>
      <a *ngIf="!item.root && !item.image" class="flex align-items-center p-3 cursor-pointer mb-2 gap-2">
            <span class="inline-flex align-items-center justify-content-center w-3rem h-3rem">
                <i [ngClass]="item.icon + ' text-lg'"></i>
            </span>
        <span class="inline-flex flex-column gap-1">
                <span class="font-medium text-lg text-900">{{ item.label }}</span>
                <span class="white-space-nowrap">{{ item.subtext }}</span>
            </span>
      </a>
      <div *ngIf="item.image" class="flex flex-column gap-3">
        <img [src]="item.image" alt="megamenu-demo" class="w-full" />
        <span>{{ item.subtext }}</span>
        <p-button [label]="item.label" [outlined]="true"></p-button>
      </div>
    </ng-template>
  </p-megaMenu>
</div>
