
.apresentacaoContainer{
    padding: 2rem;
    display: grid;
}

.conteudoContainer{
    padding: 1rem;
    grid-column: 1;
    display: flex; 
}

.tumbnaisContainer{
    margin: auto 0;
}

.resumoLateral{    
    grid-column: 2;
    padding-left: 50px;
}

.botaoComparar{
    width: 50%;
}

.botaoFavoritos{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border: 2px solid black;
}

.imagens{
    padding-bottom: 20px;
}
