<div class="card mb-3" style="max-width: 700px;" routerLink="../item-pagina" routerLinkActive="active">
    <div class="row g-0">
        <div class="col-md-4">
            <img [src]="images[3]" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{card.nomeItem}}</h5>
                <p class="card-text"> 
                    Aproveite Agora!! <br>
                    <i><s>R${{card.precoItem}} Por</s></i><b> $9,99</b> <br>
                    Só no {{card.nomeMercado}}
                </p>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>