<div class="apresentacaoContainer container">
  <div class="titulo">
    <h4>{{ produto.nomeProduto }}</h4>
  </div>
  <div class="conteudoContainer">
    <div class="imagemMaior col">
      <img src="{{ produto.imagem }}" class="img-thumbnail img-fluid" alt="Imagem Principal">
    </div>
    <div class="resumoLateral col">
      <b>
        <p>Menor preço via {{ produto.mercado.nome }}</p>
        <p>R${{ produto.precoProduto }}</p>
      </b>
      <button type="button" class="botaoComparar btn btn-dark">Comparar Preços</button>
    </div>
  </div>
</div>
