.carousel{
  border: none !important;
}
.nextIcone{
  border: none !important;
  box-shadow: none !important;
}

.custom-prev-icon:hover, .custom-next-icon:hover {
  color: darkblue; /* Alterar para a cor desejada ao passar o mouse */
}
