.headerDefault {
  background-color: #f39b68;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 15px 5px;
}

.containerBusca {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20%;
  width: 30%;
  justify-content: center;
}

.botaoDropdown {
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 0;
  border: 1px solid #3C403D;
}

.footerDefault {
  background-color: #f39b68;
  color: white;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

.custom-dropdown-toggle::after {
  display: none !important;
}

.itensDropdownMercados:hover,
.itensDropdownCategorias:hover{
  cursor: pointer;
}

.categorias-list,
.mercados-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  column-gap: 10%;
  padding: 10px;
  width: 100%;
  margin-right: 0;
  align-items: center;
}

.dropdownMenuCategorias,
.dropdownMercados {
  padding: 1rem 3rem 1rem 1rem;
  width: fit-content;
}

.itensDropdownCategorias a,
.itensDropdownMercados a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

/* Styles for different screen sizes */
@media (max-width: 1200px) {
  .containerBusca {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .containerBusca {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .headerDefault {
    flex-direction: column;
    padding: 10px;
  }

  .logoItem {
    justify-content: center;
  }

  .containerBusca {
    width: 100%;
    margin-left: 0;
  }

  .dropdownCategoria {
    flex-direction: column;
  }

  .categorias-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  .categorias-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .dropdownMenuCategorias,
  .dropdownMercados {
    width: auto;
  }

  .navbar-toggler {
    align-self: flex-end;
  }
}
