<div class="navegacaoContainer">
    <div class="botoesContainer">
        <button type="button" class="btn">
            <span class="material-symbols-outlined">shopping_cart</span>
            <p>Produtos Relacionados</p>
        </button>
        <button type="button" class="btn">
            <span class="material-symbols-outlined">analytics</span>
            <p>Informações Gerais</p>
        </button>
        <button type="button" class="btn">
            <span class="material-symbols-outlined">location_on</span>
            <p>Localização</p>
        </button>
    </div>
</div>